ErrorDocument 404 http://localhost/hbi/404.php
ErrorDocument 500 http://localhost/hbi/404.php 
ErrorDocument 500 http://localhost/hbi/404.php 
ErrorDocument 500 http://localhost/hbi/404.php 
ErrorDocument 404 http://localhost/hbi/404.php 
ErrorDocument 401 http://localhost/hbi/404.php 